<!-- <nav class="navbar is-fixed-top">
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="[ 'about' ]" routerLinkActive="active">
        ABOUT
      </a>
      <a class="navbar-item" [routerLink]="[ '/skills' ]" routerLinkActive="active">
        SKILLS
      </a>
      <a class="navbar-item" [routerLink]="[ '/projects' ]" routerLinkActive="active">
        PROJECTS
      </a>
    </div>
  </div>
</nav> -->
<div>
  <h1 class="title is-3 is-bold  has-text-centered has-text-white"> <span>Portfolio</span> </h1>
</div>
<div class="my-nav">
  <a class="navbar-item" [routerLink]="[ 'about' ]" routerLinkActive="active">
    ABOUT
  </a>
  <a class="navbar-item" [routerLink]="[ '/skills' ]" routerLinkActive="active">
    SKILLS
  </a>
  <a class="navbar-item" [routerLink]="[ '/projects' ]" routerLinkActive="active">
    PROJECTS
  </a>
</div>
