<div class="box">
  <h1 class="title is-3 is-bold is-spaced has-text-centered">
    <span>Project </span>
  </h1>
  <div class="columns is-vcentered">
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Froot Research</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a href="https://froot.co.in/" target="_blank">
              <img src="../../assets/froot.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">SURFACE DESIGN Technologies Pvt. Ltd.</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a href="https://www.surfacedesigntech.com/" target="_blank">
              <img src="../../assets/surfacedesigntech.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Buddhamay Bharat</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a href="https://buddhamayabharat.web.app/" target="_blank">
              <img src="../../assets/BuddhamayBharat.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-vcentered">
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Danalitic</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a href="http://danalitic.com/" target="_blank">
              <img src="../../assets/danalitic.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Datacams</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a href="https://data-cams.web.app/home" target="_blank">
              <img src="../../assets/datacam.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">SHASHIKALA Tours & Travels</p>
        </header>
        <div class="card-content">
          <div class="content">
            <a href="https://shashikalatravel.com/" target="_blank">
              <img src="../../assets/shashikala.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
