<div class="box">

  <div class="columns is-vcentered">
    <div class="column is-5">
      <img src="../../assets/personal.jpg" alt="Description">
    </div>

    <div class="column is-5 is-offset-1 landing-caption">
      <h2 class="subtitle is-5 is-muted is-spaced" style="font-family: 'Dosis', sans-serif; letter-spacing: 2px;"> HELLO EVERYBODY, I AM </h2>
      <h1 class="title is-1 is-bold is-spaced">
        Abhishek Kumar
      </h1>
      <h2 class="subtitle is-3 is-bold is-muted">Freelance Web Developer </h2>
      <p class="subtitle is-4 ">I enjoy building everything from small business site to rich interactive web apps.
      </p>
      <p>
        <i class="sl sl-icon-envelope-open"></i> &nbsp;&nbsp;  <span class="subtitle is-5 is-bold is-muted">25avhik@gmail.com</span>
      </p><br>
      <p>
        <i class="sl sl-icon-power"></i> &nbsp;&nbsp;  <span class="subtitle is-5 is-bold is-muted">3rd January, 1997</span>
      </p><br>
      <p>
        <i class="sl sl-icon-phone"></i> &nbsp;&nbsp;  <span class="subtitle is-5 is-bold is-muted">+91 7248964114</span>
      </p><br>
      <p>
        <i class="sl sl-icon-home"></i> &nbsp;&nbsp;  <span class="subtitle is-5 is-bold is-muted">Pune India</span>
      </p>
    </div>

  </div>
</div>
